.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 9px;
	position: relative;
	background-color: #23242a;
	border-bottom: none 1px #32343a;
	
}
@media ( max-width:870px)  {
	.header{
   margin-left: 0;
	}
}
@media ( min-width:871px) and (max-width:999px){
	.header{
   margin-left: 65px;
	}
}
@media ( min-width:1000px)  {
	.header{
   margin-left: 65px;
	}
}

.update-header{
	margin: 0px 0px 40px 20rem;
}
@keyframes margin-header {
	from {
   margin:0px 0px 40px 65px;
	}
	to {
   margin: 0px 0px 40px 20rem;
	}
}
@media ( max-width:870px)  {
	.update-header{
	 margin: 0px 0px 40px 0px;
	}
}
@media ( min-width:871px) and (max-width:999px){
	.update-header{
	  margin: 0px 0px 40px 20rem;
		animation: margin-header 0.5s ease-in-out;
	}
}
@media ( min-width:1000px)  {
	.update-header{
	  margin: 0px 0px 40px 20rem;
		animation: margin-header 0.5s ease-in-out;
	}
}
.Menu-remove{
	animation: Menu-remove 0.5s ease-in-out;
}
@keyframes Menu-remove {
	from {
   margin-left: 20rem;
	}
	to {
  margin-left: 65px;
	}
}
.logo-title-container {
	width: auto;
	display: flex;
	flex-direction: row;
}
.page-name{
	font-size: 28px;
	display: inline;
	font-family:roboto, arial; 
	color: rgb(255, 255, 255);
	display: inline-block;
	margin-left: 15px;
	top: 20px;
}
@media ( max-width:870px) {
	.page-name{
	  font-size: 22px;
		margin-left: 48px;
	}
}
@media ( min-width:871px) and (max-width:999px) {
	.page-name{
		font-size: 23px;
		margin-left: 15px;
	}
}
 @media ( min-width:1000px) {
  .page-name{
    font-size: 23px;
		margin-left: 15px;
  }
}

.menu-icon-container {
	height: 48px;
	width: 48px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #ffffff;
	margin: 12px 0px 0px 8px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
}
.creat-button-container:hover,
.menu-icon-container:hover {
	box-shadow: 3px 3px 6px rgb(53, 53, 53);
	transition: 0.7s;
}
.creat-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 53px;
	height: 53px;
	background: #23242a;
	border-radius: 50px;
	border: none ;
}
.creat-button svg path {
	stroke: transparent;
	fill: white;
}
.creat-button{
	background: transparent;
	border: none;
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.creat-button:active{
  opacity: 0.7;
}
.menu-icon{
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu-icon-container .menu-icon-title{
	font-family: roboto, arial;
	font-size: 14px;
	position: absolute;
	background-color:transparent;
	color: rgb(255, 255, 255);
	border:none;
	border-radius: 3px;
	padding:6px 8px 6px 8px;
	bottom: -40px;
	pointer-events: none;
	opacity: 0;
	white-space: nowrap;
	vertical-align: middle;
}
.menu-icon-container:hover .menu-icon-title{
	opacity: 1; 
	transition: 0.7s;
}