
.menu-icon-container{
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .menu-icon-container:hover{
  background-color: rgb(235, 236, 238);
  }
  .menu-icon{
    font-size: 25px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-icon-container .icon-title{
    font-family: roboto, arial;
    font-size: 15px;
    position: absolute;
    background-color: rgb(121, 121, 121);
    color: white;
    border:none;
    border-radius: 3px;
    padding:6px 8px 6px 8px;
    bottom: -17px;
    pointer-events: none;
    opacity: 0;
    white-space: nowrap;
    vertical-align: middle;
  }
  .menu-icon-container:hover .icon-title{
    opacity: 1; 
    transition: 0.5s;
  }
  .header{
    float: right;
  }