.main{
  position: relative;
}
.todo-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 4px;
	row-gap: 4px;
	column-gap: 4px;
}

@media ( max-width:870px)  {
	.todo-grid{
		grid-template-columns: 1fr;
	}
}
@media ( min-width:871px) and (max-width:999px){
	.todo-grid{
		grid-template-columns: 1fr;
 }
}
@media ( min-width:1000px)  {
	.todo-grid{
	grid-template-columns: 1fr 1fr;
	} 
}
.do-first-tasks,
.schedule-tasks,
.delegate-tasks,
.eliminate-tasks {
	position: relative;
	height: 18rem;
	background-color: transparent;
	border: solid 1px rgb(163, 163, 163);
	border-radius: 10px;
	background-color: transparent;
	backdrop-filter: blur(15px);
}
.task-container {
	display: flex;
	align-items: center;
	margin-top: 0px;
	margin: 5px 5px 5px 3px;
}
.task-title {
	flex: 1;
	color: rgb(0, 0, 0);
}
#do-first-tasks #check-task {
  border-color: green;
}
#schedule-tasks #check-task {
  border-color: blue;
}
#delegate-tasks #check-task {
  border-color: orange;
}
#eliminate-tasks #check-task {
  border-color: red;
}
.check-task {
	width: 20px;
	height: 20px;
	border: 2px solid; 
	border-radius: 50%; 
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}
#do-first-tasks #dot {
  background-color: green;
}
#schedule-tasks #dot {
  background-color: blue;
}
#delegate-tasks #dot {
  background-color: orange;
}
#eliminate-tasks #dot {
  background-color: red;
}
#do-first-tasks #name {
  color: green;
}
#schedule-tasks #name {
  color: blue;
}
#delegate-tasks #name {
  color: orange;
}
#eliminate-tasks #name {
  color: red;
}
#dot {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin-right: 5px;
	display: inline-block;
	background-color: black;
}
.name-dot {
	display: flex;
	align-items: center;
	font-size: 18px; color: #212121;
	padding: 5px 5px;
}
.title-of-sections {
	position: absolute;
	background-color: white;
	height: 25px;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
}
.section{
	display: none;
}
.add-task-container {
	width: 75rem;
	height: auto;
	margin: -30px 0px 30px 20px;
	padding: 10px 10px 4px;
	border: solid 1px rgb(163, 163, 163);
	border-radius: 8px;
	box-shadow: 5px 5px 8px rgb(119, 119, 119);
  background-color: transparent;
	backdrop-filter: blur(20px);
}
.date-hour ,
.details{
	width: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
	color: #454545;
	cursor: pointer;
}
.day-icon,
.notes-icon{
  margin-right: 8px;
}
#todo-name {
	width:100%;
	height: 50px;
	border: none;
	background-color: transparent;
	
	font-size: 18px;
	padding-left: 10px;
}
#todo-name::placeholder {
	font-size: 18px;
	font-family: roboto;
	color: #565656;
	padding-left: 10px;
}
#todo-name {
  margin-bottom: 20px;
}
#todo-name:focus {
  outline: none;
}
.buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 175px;
	margin-left: 63rem;
	margin-bottom: 2px;
}
.save-button,
.cancel-button{
	border:none;
	cursor: pointer;
}
.save-button,
.cancel-button{
	background-color: rgb(89, 89, 89);
	color:white;
	border-radius: 4px;
	padding: 8px 20px;
	font-size: 16px;
	font-family: roboto;
}
.save-button:hover,
.cancel-button:hover {
	opacity: 0.8;
	transition: 1s;
}
.save-button:active,
.cancel-button:active {
  opacity: 0.5;
}